h1{
  color:red;
}

img{
  width: 25%;
  border: 3px solid green;
  border-radius: 15px;
}

body{
  background-color:#8BD1E8;
}

#picture_holder{
  height:400px;
  display:block;
}

#number_holder{
  width:50px;
  border:1px solid blue;
  border-radius: 6px;
  height:50px;
}
p{
  font-size:30px;
}
