h1{
  color:red;
}

img{
  width: 25%;
  border: 3px solid green;
  border-radius: 15px;
}

body{
  background-color:#8BD1E8;
}

#number_holder{
  width:50px;
  border:1px solid blue;
  border-radius: 6px;
}
