<!DOCTYPE html>
<html>
  <head>
    <title>complex layout page</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>
    <nav>
      <ul>
        <li>home</li>
        <li>about</li>
        <li>contact</li>
        <li>projects</li>
      </ul>
    </nav>
    <section id="main">
      <div id="wrapper">
      <aside>
        <p>this is the text in the aside</aside>
      </aside>
      <section id="article_holder">
        <article>
          <p>article #1</p>
        </article>
        <article>
          <p>article #2</p>
        </article>
      </section>
    </div>
    </section>
    <footer>
      <p>contact information</p>
  </footer>
  </body>
</html>
